body{
    background-color: #eee;
    height: 100%; 
}

.color{
    background-color: #999;
    padding: 30px 50px 80px 50px;
    font-family: 'Exo', sans-serif;
    text-align: justify;
}

.formulario{
    border-top:6px solid #636363;
    max-width: 900px;
    margin-top: -40px;
    background-color: #fff;
    padding: 30px 20px;
    font-family:'Lato',sans-serif;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(171, 171, 171, 0.2);
    -moz-box-shadow: 0px 0px 20px 2px rgba(171, 171, 171, 0.2);
    box-shadow: 0px 0px 20px 2px rgba(171, 171, 171, 0.2);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; 
}

.red{
    color: rgb(246, 90, 90)
}
.foot{
    color: #888;
    font-size: 14px;
    text-align: center;
    max-width: 900px
}
.alerta{
    color: #414141;
    text-align: center
}